footer {
  background-color: var(--pry-color);
  /* padding: 3rem 0; */
  color: var(--main-black);
}
.footer-logo img {
  width: 20%;
}
.footer-content-one {
  border-top: solid 1px var(--sec-grey);
  padding-top: 4rem;
}
.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-black);
  text-align: center;
  padding: 4rem 0;
}
.footer-copyright p {
  color: var(--main-grey) !important;
  font-size: var(--xsmall-font);
  font-family: var(--font-reg);
}
.footer-social-div {
  display: flex;
  align-items: center;
}
.footer-social {
  margin: 0 0.1rem 0 0;
}
.footer-social img {
  width: 80%;
}
.footer-item p {
  text-transform: capitalize;
  font-weight: bolder;
  margin: 0 0 2rem 0;
  font-family: var(--font-reg);
  font-size: 17px;
  text-decoration: underline;
}
.footer-item li {
  padding: 0.6rem 0;
  list-style: none;
}
.footer-item a {
  color: var(--main-black);
  font-size: 14px;
}
.footer-text p {
  font-size: 14px;
  line-height: var(--line-height);
}
.footer-logo-and-info {
  width: 100%;
}
.footer-logo-and-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto 2rem auto;
}
.footer-logo img {
  width: 70%;
}
/***** TABLET *****/
@media screen and (min-width: 768px) {
  .footer-item p {
    text-transform: capitalize;
    font-weight: bolder;
    margin: 0 0 2rem 0;
    font-family: var(--font-reg);
    font-size: 17px;
    text-decoration: none;
  }
  .footer-item li {
    padding: 0.6rem 0;
    list-style: none;
  }
  .footer-item a {
    color: var(--main-black);
    font-size: 14px;
  }
  .footer-text p {
    font-size: 14px;
    line-height: var(--line-height);
  }
  .footer-logo-and-info {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto 2rem auto;
  }
  .footer-logo img {
    width: 70%;
  }
}
/***** LAPTOP *****/
@media (min-width: 993px) {
  .footer-item p {
    text-transform: capitalize;
    font-weight: bolder;
    margin: 0 0 2rem 0;
    font-family: var(--font-reg);
    font-size: 17px;
    text-decoration: none;
  }
  .footer-item li {
    padding: 0.6rem 0;
    list-style: none;
  }
  .footer-item a {
    color: var(--main-black);
    font-size: 14px;
  }
  .footer-text p {
    font-size: 14px;
    line-height: var(--line-height);
  }
  .footer-logo-and-info {
    width: 100%;
  }

  .footer-logo-and-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: left;
    margin: 0;
  }
  .footer-logo img {
    width: 70%;
  }
}
